html, body{
  margin: 0; 
  width: 100%; 
  overflow-y: auto; 
  overflow-x: hidden; 
  background-color: #F4F8F1;
}

/* top nav */
.nav{
    display: flex; 
    align-items: center; 
    height: 8vh; 
    background-color: #CBDFBD;  
    padding: 0 2vh 0 2vh;
    position: relative; 
}

.nav .menu{
    height: 5vh; 
    margin: 2vh 0 2vh 0; 
    float: left; 
}

.nav .logo-div{
  position: relative; 
  margin: auto; 
  margin-top: 1vh; 
  margin-bottom: 1vh; 
}

.nav .logo{
  height: 4.5vh; 
}

.nav .user-div{
  margin: 2vh 0 2vh 0; 
  float: right; 
}

.nav .user{
    height: 4vh;  
}

/* sign-in, sign-up page */
.sign-in, .sign-up{ 
    display: flex;
    height: 100vh; 
    width: 100%; 
    background-color: #CBDFBD;
    justify-content: center; 
    align-items: center; 
}

.form-field{
  margin: 2vh 0 2vh 0; 
}

/* sidebar */
.menu.open > main{
    margin-left: 260px; 
  }
  
  .menu.open > .sidebar{
    width: 260px; 
  
  }
  
  .sidebar{
    z-index: 3; 
    margin-top: 45px; 
    width: 0px; 
    flex-shrink: 0; 
    background-color: #CBDFBD; 
    height: 100vh; 
    overflow: auto; 
    position: fixed; 
    transition: width 0.5s ease-in-out; 
    left: 0; 
  
  }
  
  .sidebar-item{
    position: relative;
    display: block;
    padding: 1em; 
    font-size: 1.1em;
    cursor: pointer; 
    text-decoration: none; 
  
  }
  
  .sidebar-title{
    white-space: nowrap;
    display: flex; 
    justify-content: space-between;
    font-size: 25px; 
    vertical-align: middle; 
    color: #A44A3F;
    font-family: Impact, fantasy; 
    letter-spacing: 1px; 
  
  }
  
  .sidebar-title .toggle-btn{ 
    width: 20px; 
    cursor: pointer;
    transition: transform .3s; 
  }
  
  .sidebar-item.open .sidebar-title .toggle-btn{
    transform: rotate(-180deg)
  }
  
  .sidebar-content{ 
    white-space: nowrap;
    padding-top: 10px; 
    font-family: Impact, fantasy;
    color: #CBDFBD;
    height: 0; 
    overflow: hidden;
  
  }
  
  .sidebar-item.open > .sidebar-content{
    height: auto; 
    
  }
  
  .btn-container{
    z-index: 2; 
    display: inline-block; 
    width: 35px; 
    height: 35px;
    margin: 1vh; 
    perspective: 800px; 
    vertical-align: auto;
    transition: 0.2s ease;
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  
  .btn-container.open > .sidebar{
    width: 260px; 
  }
  
  .btn-container:active > .btn-card{
    cursor: pointer; 
    transform: rotateY(180deg);
  
  }
  
  .btn-card{
    width: 100%; 
    height: 100%; 
    position: relative; 
    transition: transform 1500ms; 
    transform-style: preserve-3d; 
  
  }
  
  .open-btn{
    height: 4vh; 
  }
  
  .close-btn{
    
  }

/* home page */
.home .about, .rec-img{  
  display: inline-block; 
  vertical-align: top;  
  margin: 2.5vh 1vh 0 5vh;
  box-sizing: border-box;
}

.about{
  width: 50%;
}

.home .rec-img{
  width: 80vh;  
}

.home .rec-img img{
  width: 100%; 
  height: auto; 
}

/* memberships */
.membership, .programs-lessons, .home{
  width: 100%; 
  height: 100%; 
  padding-bottom: 10vh; 
}

.membership-card-section{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 5vh; 
}

.membership-card .price{
  display: flex; 
  align-items: baseline; 
}

.membership-card .price h3{
  margin-right: 0.5vh; 
}

.perks-card{
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: 1vh; 
}

.perks-card > div{
  display: flex; 
  align-items: center; 
}

.perks-card img{
  height: 4vh; 
  display: inline-block; 
  margin-right: 1vh; 
}

.perks-card p{
  display: inline-block; 
}

/* programs - lessons */
.description, .seasonal-card-section, .photos{  
  display: inline-block; 
  vertical-align: top;  
  margin: 2.5vh 2.5vh 0 5vh;
}

.description{
  width: 50%;
}

.seasonal-card-section{
  margin: 2.5vh 0 0 5vh;
}

.seasonal-card{
  margin-right: 15vh; 
  width: auto; 
  height: auto; 
  display: inline-block; 
  vertical-align: top; 
}

.filters{
  float: right; 
}

.filters h3{
  margin-left: 2vh; 
}

.lesson-card-section{
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  overflow-y: scroll; 
  scrollbar-width: thin;
  scrollbar-color: #e8e5e5 #fff; 
}

.lesson-card{
  margin: 5vh 0 5vh 0; 
}




